<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="#" class="text-white font-bold text-lg">TRIUMPHED</a>
        <ul class="flex space-x-7">
            <li><a href="/home" class="text-white">home</a></li>
                    <li><a href="/cart" class="text-white">Cart</a></li>
                    <li><a href="/orders" class="text-white">Orders</a></li>
                    <li><a href="/profile" class="text-white">profile</a></li>
                    <li><a href="/logout" class="text-white">logout</a></li>
               
    </div>
</nav>
<h2 class="text-2xl text-bold mt-4 ml-4 -mb-4">Your Wishlist</h2>

<div class="container mx-auto mt-8">
    <% if (wishlist && wishlist.items && wishlist.items.length > 0) { %>
      <% wishlist.items.forEach(function(item) { %>
        <div class="bg-white p-8 rounded-lg shadow-md flex flex-col md:flex-row items-center mb-8">
          <!-- Product Photo -->
          <img src="/images/uploads/<%= item.productId.image %>" alt="Product Image" class="w-48 h-48 object-cover object-center mb-4 md:mb-0 md:mr-8">
  
          <!-- Product Details -->
          <div>
            <!-- Product Name -->
            <h1 class="text-2xl font-bold mb-4"><%= item.productId.productName %></h1>
            <!-- Product Price -->
            <p class="text-xl font-semibold mb-4">$<%= item.productId.price %></p>
            <!-- Product Description -->
            <p class="text-gray-600 mb-4"><%= item.productId.description %></p>
            <!-- Add to Cart Button -->
            <div class="flex justify-between mt-4 gap-4">
              <form action="/add-to-cart" method="post">
                <input type="hidden" name="productId" value="<%= item.productId._id %>">
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Add to Cart</button>
              </form>
              <form action="/remove-from-wishlist" method="post">
                <input type="hidden" name="productId" value="<%= item.productId._id %>">
                <button type="submit" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">Remove from Wishlist</button>
              </form>
            </div>
          </div>
        </div>
      <% }); %>
    <% } else { %>
      <p>Your wishlist is empty</p>
    <% } %>
  </div>
  



</body>
</html>
